<ol>
    
    <li>
        <p>Name: <%= user_details.name %> </p>
        <p>Age: <%= user_details.age %> </p>
        <p>Gender: <%= user_details.gender %> </p>
    </li>

    <form action="/user/clear-session" method="get">
        <button type="submit">Sign Out</button>
    </form>
        
</ol>