body #feeds-section {
  background-color: aliceblue;
  padding: 10px;
  height: 100vh;
  width: 70%; }

body #friends-users-section {
  background-color: #f6f6e7;
  padding: 2px;
  border-left: 2px solid lightgray;
  width: 30%;
  height: 100vh; }
  body #friends-users-section .flex-container {
    display: flex;
    flex-direction: column; }
